{{!-- <div class="fixed-action-btn">
    <a href="/events/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div> --}}
<div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    {{!-- <span>Create Event</span> --}}
                    <span class="border px-3 p-1 add-experience">
                        <a href="/events/add" class="btn-floating btn-large"><i class="fa fa-plus"></i>&nbsp;Event</span></a>
                </div>
            </div>
</div>