<div class="container bg-dark w-100">
    <div class="row text-white">
        <div class="col-md-3">
            <h1>AlumniKonnect</h1>
            <h6>Connect, Engage, and Expand Your Alumni Network</h6>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>