<div class="navbar-slant d-flex">
  <div class="wrapper">
    {{! wrapper for socials and slanted animation }}
  </div>
  <div class="info mt-2 d-flex">
    <i class="fa-solid fa-envelope ms-5 me-2" style="color: #34D399;"></i><h6
    >info@alumnikonnect.com</h6>
    <i class="fa-solid fa-location-dot ms-5 me-2" style="color: #34D399;"></i><h6
    >African Leadership Campus, Mauritius</h6>
  </div>

  <div class="d-flex ms-5 mt-2 p-1 socials">
    <i class="fa-brands fa-facebook mx-3"></i>
    <i class="fa-brands fa-square-x-twitter me-3"></i>
    <i class="fa-brands fa-instagram me-3"></i>
    <i class="fa-brands fa-linkedin me-3"></i>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid all-show">
    <a class="navbar-brand" href="#">AlumniKonnect</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item mx-5">
          <a class="nav-link active" aria-current="page" href="#">About us</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link" href="#">Gallery</a>
        </li>

        <li class="nav-item mx-5">
          <a class="nav-link" href="#">Contact us</a>
        </li>

        <li class="nav-item mx-5">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>