<div class="container opportunity">
  <div class="row opportunity-header">
    <div class="col-md-12 text-center">
      <h1 class="display-4">GROWTH</h1>
      <h2 class="lead">OPPORTUNITY</h2>
    </div>
  </div>
  <div class="row opportunity-welcome">
    <div class="col-md-12 text-center">
      <h3 class="lead">Welcome, {{name}}</h3>
      <p>Find opportunities that are curated just for you below</p>
    </div>
  </div>
  <div class="row opportunity-list">
    <div class="col-md-12">
      <h2>OPPORTUNITIES</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Deadline</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Call for Fashiondesigners for African Leadership Fashion Show</td>
              <td>January 3rd 2024</td>
              <td>open</td>
              <td><a href="#" class="btn btn-primary">Apply</a></td>
            </tr>
            <tr>
              <td>Full Stack Web Developer at Accenture</td>
              <td>November 28th 2023</td>
              <td>open</td>
              <td><a href="#" class="btn btn-primary">Apply</a></td>
            </tr>
            <tr>
              <td>Backend Engineer at Flutterwave</td>
              <td>November 23rd 2023</td>
              <td>open</td>
              <td><a href="#" class="btn btn-primary">Apply</a></td>
            </tr>
            <tr>
              <td>Financial Analyst at The Room</td>
              <td>October 3rd 2023</td>
              <td>closed</td>
              <td><a href="#" class="btn btn-secondary disabled">Apply</a></td>
            </tr>
            <tr>
              <td>Business Strategist at Deloitte</td>
              <td>October 1st 2023</td>
              <td>closed</td>
              <td><a href="#" class="btn btn-secondary disabled">Apply</a></td>
            </tr>
            <tr>
              <td>Financial Advisor at ALC</td>
              <td>September 3rd 2023</td>
              <td>closed</td>
              <td><a href="#" class="btn btn-secondary disabled">Apply</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
