@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Heebo:wght@100;200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}

*,
::before,
::after {
  box-sizing: border-box
}

body {
  position: relative;
  /* margin: var(--header-height) 0 0 0;
  padding: 0 1rem; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color: #eee;
}

.main-header {
  margin-bottom: 70px;
}

.navbar-nav>li>a {

  text-transform: uppercase;
  font-size: 12px;
  margin-right: 20px;
  color: #fff;
}


.navbar-toggler {
  padding: .20rem .50rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white;

}

.nav-link {

  color: #fff !important;
}


.wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #34D399;
  clip-path: polygon(71% 0, 100% 0, 100% 50%, 100% 50%, 81% 50%);
  transition: 1s all;
}

.navbar-brand {
  color: #34D399;
  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-slant:hover .wrapper {
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 50%, 65% 50%);

}

.navbar-brand:hover {

  color: #fff;

}

.navbar-slant {
  height: 40px;
  background-color: black;
  color: #fff;
  font-family: 'Heebo', sans-serif;
}

.navbar-slant .info {
  width: 75%;
  margin-right: 60px
}

.navbar-slant .info h6 {
  font-size: small;
}

.all-show {
  z-index: 5;
}

.socials {
  justify-content: space-around;
  color: #fff;
  z-index: 10;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.form-control:focus {
  box-shadow: none;
  border-color: #62e4b4
}

.profile-button {
  background: #34D399;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #34D399
}

.profile-button:focus {
  background: #34D399;
  box-shadow: none
}

.profile-button:active {
  background: #34D399;
  box-shadow: none
}

.back:hover {
  color: #34D399;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #62e4b4;
  color: #fff;
  cursor: pointer;
  border: solid 1px #62e4b4
}

.btn-float {
  float: left;
  margin-right: 10px
}

.img-small {
  width: 180px;
}

a {
  text-decoration: none
}

.header {
  height: var(--header-height);
  /* position: fixed; */
  /* left: 0; */
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* padding: 0 .5rem; */
  z-index: var(--z-fixed);
  transition: .5s
}

.header_toggle {
  color: #b1b1b1;
  font-size: 1.5rem;
  cursor: pointer
}

.header_toggle:hover {
  color: #fff
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden
}

.header_img img {
  width: 40px
}

.l-navbar {
  position: fixed;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  /* background-color: #17231e; */
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed)
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.nav_link,
.header_toggle {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0 0 .5rem 1.5rem
}

.nav_link {
  position: relative;
  color: #b1b1b1;
  margin-bottom: .5rem;
  transition: .3s
}

.nav_link:hover {
  color: #fff
}

.nav_icon {
  font-size: 1.25rem
}

.show {
  left: 0
}

#body-pd {
  margin-top: 110px;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem)
}

.active {
  color: #34D399
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #34D399
}

.height-100 {
  height: 100vh
}

@media screen and (min-width: 768px) {
  /* body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)
  } */

  .header {
    height: calc(var(--header-height) + 1rem);
  }

  .header_img {
    width: 40px;
    height: 40px
  }

  .header_img img {
    width: 45px
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0
  }

  .show {
    width: calc(var(--nav-width) + 156px)
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 96px)
  }
}